In [1]:
#
import sys
import os
sys.path.append("/home/sergey/drclinics/common")
sys.path.append("/home/sergey/drclinics/reports")
#


import pandas as pd
from report_utils import query_by_name, send_mail
from configs import load_json_config

from connect_platform import connect_telemed
from log import log
import datetime
from utils import get_path, DATETIME_FORMAT

from universal_connection import UniversalConnection, DBType

from log import log

In [3]:
phones = pd.read_excel('Webmed-pats-no-cons3_202006051325_unsubscribe.xlsx')

In [11]:
phone_list = [str(x) for x in(phones.patient_phone.unique())]

In [17]:
# phone_list

In [18]:
phone_string = "'" + "', '".join(phone_list) + "'"

In [20]:
# phone_string

In [21]:
sql = f"""
select 	a.id app_id,
		date(a.finished at time zone 'UTC') cons_date,
		concat_ws(' ', p_patient.last_name, p_patient.first_name, p_patient.middle_name) patient_fio,
		p_patient.sex, 
		p_patient.birthday patient_birthday,
		p_patient.phone patient_phone,
		p_patient.email,
		case
  		when "source"='SCHEDULED' and specialty_id is not null then (
			select trim(name)
			from specialty s
			where s.id = a.specialty_id
		)
	    else (
			select trim(s.name)
			from specialty s
			inner join doctor_specialty ds
			   on ds.specialty_id = s.id
			inner join doctor_specialty_treatment dst
			   on dst.doctor_specialty_id = ds.id
			where dst.treatment_id = a.treatment_id
			limit 1 -- из-за одной криво заведенной записи.
		) end as specialty
from appointment a
left join patient on a.patient_id = patient.id 
left join person p_patient on patient.person_id = p_patient.id
--
where a.finished at time zone 'UTC' > '2020-06-05'
and a.good 
and not (
      	a.patient_id in (
	      	select patient_id
	      	from patient_categories pcat
	      	inner join reference rf
	      	   on rf.id=pcat.reference_id
	      	where rf.code='TEST'
	      	)
	    or lower(a.report_comment)='тест'
      	)
--
and
p_patient.phone in ({phone_string})

"""

In [22]:
connection = UniversalConnection('../../../.credentials/telemed/prom.cfg', DBType.Postgres)
data = connection.query(sql)
connection.close()

2020-06-11 13:49:32 connect to postgres database using config file "../../../.credentials/telemed/prom.cfg"
2020-06-11 13:49:32 creating ssh tunnel to 172.16.100.19 as root...
2020-06-11 13:49:32 connect postgres using parameters:
                    database: telemed
				    user: norekhov
				    password: ***masked***
				    host: localhost
				    port: 43327
2020-06-11 13:49:32 @telemed: execute sql:
				    SET TIME ZONE 'Europe/Moscow'
				    None
2020-06-11 13:49:32 @telemed query:
                    select 	a.id app_id,
				    		date(a.finished at time zone 'UTC') cons_date,
				    		concat_ws(' ', p_patient.last_name, p_patient.first_name, p_patient.middle_name) patient_fio,
				    		p_patient.sex,
				    		p_patient.birthday patient_birthday,
				    		p_patient.phone patient_phone,
				    		p_patient.email,
				    		case
				      		when "source"='SCHEDULED' and specialty_id is not null then (
				    			select trim(name)
				    			from specialty s
				    			where s.id = a.specialty_id
				    		)
				    	    else (
				    			select trim(s.name)
				    			from specialty s
				    			inner join doctor_specialty ds
				    			   on ds.specialty_id = s.id
				    			inner join doctor_specialty_treatment dst
				    			   on dst.doctor_specialty_id = ds.id
				    			where dst.treatment_id = a.treatment_id
				    			limit 1 -- из-за одной криво заведенной записи.
				    		) end as specialty
				    from appointment a
				    left join patient on a.patient_id = patient.id
				    left join person p_patient on patient.person_id = p_patient.id
				    --
				    where a.finished at time zone 'UTC' > '2020-06-05'
				    and a.good
				    and not (
				          	a.patient_id in (
				    	      	select patient_id
				    	      	from patient_categories pcat
				    	      	inner join reference rf
				    	      	   on rf.id=pcat.reference_id
				    	      	where rf.code='TEST'
				    	      	)
				    	    or lower(a.report_comment)='тест'
				          	)
				    --
				    and
				    p_patient.phone in ('79216114499', '79168887272', '79033044017', '79264645595', '79178720227', '79175451241', '79169823767', '79039612130', '79137473989', '79299269067', '79057305963', '79191071009', '79099882544', '79226059055', '79850005430', '79182960120', '79992102869', '79771569854', '79182880905', '79129653251', '79818835735', '79094385557', '79631012135', '79218662502', '79870755517', '79879933911', '79063058807', '79688395666', '79166132810', '79265833564', '79142524139', '79236005525', '79266902626', '79142365730', '79320119001', '79262539932', '79142511742', '79244601789', '79039957787', '79175267602', '79372457334', '79192042713', '79290532888', '79251991387', '79629162999', '79219971200', '79152910547', '79166715422', '79260120526', '79151013498', '79137608092', '79177583919', '79601326383', '79172753153', '79680392442', '79656623052', '79219297715', '79164758918', '79185220638', '79164357377', '79152397570', '79515150458', '79685217770', '79142606757', '79262626408', '79529487828', '79179235248', '79538674111', '79055292693', '79103057767', '79152808390', '79513482129', '79209229643', '79858051968', '79122275059', '79104598343', '79119179446', '79802441017', '79851370550', '79037636057', '79244661200', '79163460771', '79031141972', '79269266515', '79265780866', '79265567490', '79132913149', '79269000570', '79120397610', '79164132555', '79206203444', '79080688995', '79241320975', '79160970535', '79263877862', '79274031748', '79161126508', '79265333943', '79192029497', '79208028022', '79127090200', '79099938919', '79255076167', '79188712214', '79777142667', '79231646742', '79112283012', '79232127939', '79080183160', '79963882766', '79119138944', '79263208307', '79638908730', '79299295544', '79531750303', '79272274775', '79201163292', '79115405136', '79189871019', '79283637321', '79851057960', '79262233370', '79219724630', '79607610822', '79266478838', '79607866699', '79657053830', '79534760091', '79296969276', '123456789123456', '79995256647', '79529089077', '79056430897', '79162665509', '0', '79622775759', '79040455106', '79169263332', '79859057878', '79643426512', '79520167159', '79620969123', '79645285564', '79269200488', '79038816500', '79991951021', '77785977500', '79636802757', '79108694454', '79177105277', '79169130051', '79151706975', '79283179777', '79854400041', '79265626639', '79177604040', '79164748921', '79836068884', '79167564932', '79174649999', '79269818955', '79169399211', '79600064747', '79513027872', '79107472052', '79610615133', '79113736855', '79774128580', '79151942229', '79854261255', '79091033000', '79264191262', '79179845766', '79672278212', '78887670483', '79032711715', '79034363737', '79166548147', '79859235897', '79612191917', '79142899112', '79259175347', '79323341997', '79096537777', '79691976111', '79859970082', '79057863839', '79161455986', '79015934658', '79514472845', '79850484622', '79215408022', '79281772407', '79313208789', '79002125050', '79859137814', '76769462536', '79173991958', '79175839998', '79684207999', '74923562849', '79142298023', '78604628658', '78204386535', '79166216606', '79776193515', '79036348364', '79657949197', '79119973578', '79857485464', '79166769470', '79372921715', '70900000000', '79600624492', '70910000000', '79219328014', '70930000000', '79060368431', '79053205005', '79267930785', '79620002911', '79533329263', '79512126701', '70960000000', '70990000000', '79258229858', '79992353095', '79854277487', '79169455570', '79269550556', '79181430433', '79028083118', '79041300156', '79031258261', '79045372508', '79527199731', '79216713644', '79092785590', '79060733966', '79067460233', '79173426387', '79037817606', '79024881884', '79177779901', '79223288183', '79854558951', '79149249594', '79527648185', '79057006835', '79621880912', '79055588855', '79218410322', '79175709335', '79057218358', '79164997103', '79604514444', '79088165781', '79647871944', '79262576562', '79885101661', '79852450526', '79027106475', '79061485907', '79500069451', '79123161322', '79096822419', '79201719768', '78819092121', '7333222111445688', '79119917168', '79870870228', '79051387481', '79854236829', '79923454047', '79841524948', '79326128667', '79778667454', '79873290369', '79586230448', '79179223418', '79774271104', '79037075105', '79172301390', '79525034612', '79032797802', '79998520564', '79135251293', '79624360209', '79999976152', '79856952620', '79280122020', '79283461228', '79627984111', '79039102104', '79133852721', '79090070072', '79082479055', '79057529924', '79200123644', '79653315025', '79779936037', '79299159008', '79119446050', '79097930330', '79028939963', '79504792452', '79530006444', '79129817246', '79132162653', '79297454445', '79252850522', '79009457715', '79613264051', '79051141324', '79990263358', '79038380540', '79519100901', '79108215727', '79522073846', '79057983900', '79312449915', '79857416329', '79210936150', '79119551965', '79242348660', '79172830886', '79876287699', '79842741040', '79132785779', '79041410927', '79137035206', '79177154541', '79269282423', '79039043172', '79176923176', '79203816676', '79859228196', '79046493620', '79613011410', '79272456100', '70053219898', '79137903771', '70016523232', '79872981382', '79831239193', '79872665856', '79878081045', '79004390938', '79635742462', '79393321010', '79163461025', '79283551070', '79251552597', '79823037424', '79172728922', '79085828232', '79261129306', '79525732418', '79133863709', '79163476194', '79168737217', '79515169001', '79085408340', '79874917552', '79530081357', '79255054497', '79614447935', '79787175048', '79150143996', '79226419258', '79090011729', '79850565556', '79269334341', '79313072631', '79106208129', '79653284844', '79017168776', '79121917983', '79037595230', '79064072045', '79657584052', '79252235356', '79014820062', '79032633020', '79035337044', '79172223942', '79136321817', '79109225082', '79963299422', '79117058335', '79044383360', '79241207000', '79144770484', '79964172405', '79779224692', '79777210185', '79850046097', '79287703779', '79265773814', '79111722618', '79857878713', '79006069473', '79095818261', '79137154801', '79041822122', '79056411601', '79814380064', '79610970923', '79161606807', '79245695723', '79171374759', '79163077536', '79237744951', '79037269394', '79180309499', '79250631831', '79876757809', '79009882486', '79619874102', '79319601787', '79964031890', '79991946903', '79202949466', '79375772527', '79133005995', '79620353145', '79299669082', '79276331801', '79888675278', '79169788201', '79093297771', '79172217222', '79600633871', '79270418102', '79178550868', '79872863004', '79173903525', '79852984926', '79104074728', '79259420004', '79778040995', '79274111101', '79150150013', '79172995572', '79172263034', '79821596917', '79625775969', '79111550476', '79995199876', '79600488116', '79619600286', '79147861901', '79023276759', '79054258041', '79169359826', '79142343112', '79144143535', '79172652650', '79169202033', '79622997586', '79601066105', '79631211717', '79270490962', '79213344463', '79167817183', '79600880535', '79227762825', '79172668189', '79872968834', '79117472900', '79204389686', '79009275886', '79272481259', '79605516869', '79172570325', '79393306150', '79528375404', '79084116800', '79126299385', '79050239959', '79198959177', '79173669712', '79655977979', '79283800888', '79374003410', '79147068727', '79510697702', '79172845252', '79879871617', '79645048697', '79872772340', '79823900570', '79229730202', '79533958393', '79811263764', '79652183375', '79128386001', '79992121605', '79199159334', '79620227194', '79788963162', '79260515205', '79586210770', '79047190177', '79116850067', '79068188922', '79892771588', '79534949804', '79534959187', '79773672301', '79161551844', '79222076671', '79178531272', '79179013311', '79108197497', '79999743090', '79278722325', '79528664629', '79296073369', '79166966888', '79680179886', '79166940838', '79646240214', '79297535929', '79067905909', '79037281534', '79142693919', '79241899906', '79604948243', '79002706923', '79097125639', '79262119890', '79852161717', '79175209767', '79161623572', '79652263056', '79787638660', '79185819122', '79109812815', '79092497363', '79035008299', '79965172119', '79377807022', '79106956665', '79181345333', '79807374060', '79065142552', '79203509450', '79033772547', '79109844864', '79206077619', '79857572915', '79158359575', '79152475336', '79203604253', '79203517050', '79119118666', '79265426851', '79158495004', '79203444866', '79047648529', '79106803546', '79158309999', '792[...31161 chars removed from log...]
                    None
2020-06-11 13:49:34 return 52 rows
2020-06-11 13:49:34 @telemed: closing postgres connection...
2020-06-11 13:49:34 closing ssh tunnel to 172.16.100.19...

In [24]:
data.to_excel('cons-asfter-sms.xlsx', index=False)