In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [57]:
def get_address(adress: str, kostil=0):
    token = '7cd5ebd6-2115-4662-b850-e3a57c2850c3'
    url = 'http://geocode-maps.yandex.ru/1.x/?apikey=' + token + '&geocode=' + adress + '&format=xml&lang=ru_RU&results=1'
    
    
    try:
        
        re = requests.get(url)
        soup = BeautifulSoup(re.text, 'html.parser')

        latitude_longtitude = soup.findAll('pos', attrs=None)
        lat_lon = str(latitude_longtitude).split('<pos>')[1].split('</pos>')[0]
        
        name = soup.findAll('component', attrs=None)

        if 'country' in str(name):
            country = str(name).split('<kind>country</kind><name>')[1].split('</name>')[0]
        else:
            country = 'Неизвестная country'

        if 'province' in str(name):    
            province_1 = str(name).split('<kind>province</kind><name>')[1].split('</name>')[0]
            try:
                province_2 = str(name).split('<kind>province</kind><name>')[2].split('</name>')[0]
            except:
                province_2 = 'Неизвестная province_2'
        else:
            province_1 = 'Неизвестная province_1'
            province_2 = 'Неизвестная province_2'

        if 'area' in str(name):
            area = str(name).split('<kind>area</kind><name>')[1].split('</name>')[0]
        else:
            area = 'Неизвестная area'

        if 'locality' in str(name):
            locality = str(name).split('<kind>locality</kind><name>')[1].split('</name>')[0]
        else:
            locality = 'Неизвестная locality'

        if 'street' in str(name):
            street = str(name).split('<kind>street</kind><name>')[1].split('</name>')[0]
        else:
            locality = 'Неизвестная street'

        if 'house' in str(name):
            house = str(name).split('<kind>house</kind><name>')[1].split('</name>')[0]
        else:
            house = 'Неизвестная house'


        df = pd.DataFrame([[lat_lon.split(' ')[0], 
                            lat_lon.split(' ')[1],
                            country, 
                            province_1, 
                            province_2, 
                            area, locality, 
                            street, 
                            house]])
        df.columns = ['latitude', 
                      'longtitude', 
                      'country', 
                      'province_1', 
                      'province_2', 
                      'area', 'locality',
                      'street', 
                      'house']
        #
        return df
    except:
        if kostil == 0:
            #print(kostil)
            kostil += 1
            reverse_coordinates = (adress.split(' ')[1] + '; ' + adress.split(' ')[0]).replace(',', '')
            #print(reverse_coordinates)
            return get_address(reverse_coordinates, kostil)
        else:
            return 1

In [58]:
get_address('улица Большая Полянка, 26с2')

,latitude,longtitude,country,province_1,province_2,area,locality,street,house
0,37.618866,55.73698,Россия,Центральный федеральный округ,Москва,Неизвестная area,Москва,улица Большая Полянка,26с2

In [59]:
get_address('Солнечногорск улица Дзержинского, 19')

,latitude,longtitude,country,province_1,province_2,area,locality,street,house
0,36.983604,56.185763,Россия,Центральный федеральный округ,Московская область,городской округ Солнечногорск,Солнечногорск,улица Дзержинского,19

In [60]:
get_address('Заречная улица деревня Ручьи, Конаковский район, Тверская область, Россия')

,latitude,longtitude,country,province_1,province_2,area,locality,street,house
0,36.97401,56.590752,Россия,Центральный федеральный округ,Тверская область,Конаковский район,деревня Ручьи,Заречная улица,Неизвестная house

In [61]:
get_address('30.313263; 59.930317')

,latitude,longtitude,country,province_1,province_2,area,locality,street,house
0,30.313263,59.930317,Россия,Северо-Западный федеральный округ,Санкт-Петербург,Неизвестная area,Санкт-Петербург,переулок Гривцова,5В

In [62]:
get_address('59.930317, 30.313263')

,latitude,longtitude,country,province_1,province_2,area,locality,street,house
0,30.313263,59.930317,Россия,Северо-Западный федеральный округ,Санкт-Петербург,Неизвестная area,Санкт-Петербург,переулок Гривцова,5В